/* 1. General Reset and Base Styles */
:root {
    --primary-color: whitesmoke;
    --secondary-color: rgb(110, 192, 247);
    --background-color: #000; /* fallback color */
    --block-color1: #efefef; /* fallback color */
    --accent-color1: rgb(243, 81, 53);
    --accent-color2: rgb(253, 250, 244);
    --navbar-color1:rgba(245, 245, 245, 0.445);
    --navbar-color2: transparent;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img {
    max-width: 100%;
    height: auto;
    display: block;
}

html {
    scroll-behavior: smooth;
}

body {
    padding-top: 80px;
    font-family: 'Segoe UI', Arial, sans-serif;
    background-color: var(--background-color); /* fallback color */
}

/* 2. Layout Containers */
.nav_container {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    padding: 20px;
    padding-right: 40px;
    background: black;  
    box-sizing: border-box;}
.nav_item {
    color: rgb(255, 255, 255);
}
.flex_container {
    display: flex;
    flex-direction: column;
}

.title_page {
    background-image: url(image001.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 80vh;
    place-content: center;

}
.title {
    text-align: right;
    text-transform: uppercase;
    color: var(--primary-color);
    font-size: clamp(15px, 4.3vw, 100px); /* Responsive font size */
    margin: 10px;
}
.subtitle {
    text-align: right;
    font-size: clamp(5px, 1.5vw, 25px); /* Responsive font size */
    color: var(--primary-color);
    margin: 10px;
}
.subtitle a {
    color: var(--primary-color);
    font-size: large;
    text-transform: uppercase;
}
/* 3. Typography */

.text_header {
    text-align: right;
    font-size: clamp(10px, 2vw, 50px); /* Responsive font size */
    color: var(--accent-color2);
}

.agenda_container {
    display: flex;
    flex-direction: column;
}
.agenda_item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-family: 'Segoe UI', Arial, sans-serif;
    font-size: clamp(15px, 3vw, 40px);  /*Responsive font size */
    text-transform: uppercase;
    background-color: var(--block-color1);
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}    

.agenda_item a {
    color: var(--primary-color);
    background-color: var(--secondary-color);
    padding: 10px;
    border-radius: 5px;
}
a:hover {
    color: var(--accent-color1);
}
.galerij_container {
    text-align: right;
}

.footer {
    color: var(--primary-color);
    right: 0;
    bottom: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding: 20px;
    z-index: 1001;
}
