/* 1. General Reset and Base Styles */
:root {
    --primary-color: whitesmoke;
    --secondary-color: rgb(110, 192, 247);
    --background-color: #000; /* fallback color */
    --block-color1: #efefef; /* fallback color */
    --accent-color1: rgb(243, 81, 53);
    --accent-color2: rgb(253, 250, 244);
    --navbar-color1:rgba(245, 245, 245, 0.445);
    --navbar-color2: transparent;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    padding-top: 80px;
    font-family: 'Segoe UI', Arial, sans-serif;
    background-color: var(--background-color); /* fallback color */
}

/* 2. Layout Containers */
.nav_container {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
    background: black;  
    
}
.nav_item {
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    text-decoration: none;
}
.flex_container {
    display: flex;
    flex-direction: column;
}

.title_page {
    background-image: url(foto001.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 90vh;
    place-content: center;

}
.title {
    text-align: right;
    text-transform: uppercase;
    padding: 25px;
    color: var(--primary-color);
    font-size: clamp(15px, 4.3vw, 100px); /* Responsive font size */
    
}
.subtitle {
    text-align: right;
    font-size: clamp(15px, 2.5vw, 25px); /* Responsive font size */
    color: var(--primary-color);
    padding-right: 25px;
}
.subtitle a {
    color: var(--primary-color);
    font-size: clamp(35px, 3.5vw, 75px);
    text-transform: uppercase;
    
}
/* 3. Typography */

.text_header {
    text-align: right;
    font-size: clamp(10px, 2vw, 50px); /* Responsive font size */
    color: var(--accent-color2);
}
.agenda_page {
    padding-top: 20px;
}
.agenda_container {
    display: flex;
    flex-direction: column;
}
.agenda_item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-family: 'Segoe UI', Arial, sans-serif;
    font-size: clamp(15px, 3vw, 40px);  /*Responsive font size */
    text-transform: uppercase;
    background-color: var(--block-color1);
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}    

.agenda_item a {
    color: var(--primary-color);
    background-color: var(--secondary-color);
    padding: 10px;
    border-radius: 5px;
}
a:hover {
    color: var(--accent-color1);
}

.galerij_page {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
}

.slider-wrapper {
    align-self: center;
    padding: 20px;
    max-width: 95%;
}

.slider-wrapper .image-list {
    display: flex;
    gap: 18px;
    font-size: 0;
    overflow-x: auto;
    grid-template-columns: repeat(10, 1fr);
}
.slider-wrapper .image-list .image-item {
    width: 340px;
    height: 500px;
    object-fit: cover;
}

.koffie_page {
    background-image: url(foto009.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    height: 100vh;
    place-content: top;
    padding-top: 30px;
}

.footer {
    color: var(--primary-color);
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 20px;

}
